<nav>
  <!-- <input type="checkbox" id="nav-toggle" />
  <label for="nav-toggle">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </label>
  <div class="logo">
    <a href="#">My Website</a>
  </div>
  <ul class="nav-links">
    <li><a href="#">Home</a></li>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Contact Us</a></li>
  </ul> -->

 <a routerLink = "/after-login"> <img src = "https://image.pitchbook.com/IIZvz8HxGpxmd4nnI5Irsnm0JAx1666857561209_200x200" height = "150" width = "150"> </a>



  <div class="search">
      <input type="text" class="search__input" placeholder="Search for products, brands and more" [(ngModel)]="searchText">
      <button class="search__button" (click)="search()">
          <svg class="search__icon" aria-hidden="true" viewBox="0 0 24 24">
              <g>
                  <path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path>
              </g>
          </svg>
      </button>
  </div>

 

  <a href = ""> <b> Become a Seller</b></a>


  <div class = "more">

    <div class="dropdown">
        <button class="dropdown-btn">More  <i class="fa fa-chevron-down"></i></button>
        <div class="dropdown-content">
          <a href="#"> <span class="material-symbols-outlined">
            notifications
            </span> Notification Preferences</a>
          <a href="#"> <span class="material-symbols-outlined">
            live_help
            </span> 24x7 Coustomer Care</a>
          <a href="#"> <span class="material-symbols-outlined">
            trending_up
            </span> Advertise</a>
          <a href="#"> <span class="material-symbols-outlined">
            download
            </span> Download App</a>
        </div>
      </div>
      
</div>
  <div class = "cart">

    <a href = "">  <b align = "left" style="color: white ">  Cart </b> <i style="font-size:24px; color:white" class="fa">&#xf07a;</i>  </a>

  </div>

  <a routerLink = "/profile">
      <img src="https://i.pinimg.com/736x/75/77/c5/7577c5d6e9c1251925030c8e3b470e15.jpg" alt="Avatar" class="avatar90">
       <!-- <p> <b> GS </b></p>  -->
      </a>

 
  
</nav>

  <br>  <br>  <br>  <br>  <br>  

  <h2> <b> Showing 1 – 8 of 8 results for "electronics"  </b> </h2>
  <br> 

  <div class="parent">
    <div class="div1">
        
        <div class="card-container">
            <div class="card">
                <img src = "https://m.media-amazon.com/images/I/71wRe7xkcSL._SX450_.jpg" width="250" height="250">
              <div class="card-header">
                <h3> Acer HA240Y 23.8 inch FHD IPS Ultra Slim Frameless </h3>
              </div>
              <div class="card-body">
                <h2 align = "left" style="color: black"> <b> ₹8,699  </b> </h2>
              </div>
              <div class="card-body">
                <p align = "left" style="color: grey"> <b> <s> ₹17,600 </s> &nbsp; 50% OFF &nbsp;</b> </p>
                <p align = "left" style="color: green"> <b>[Free delivery] </b> </p>
              </div>
              <div class="card-body">
                <!-- <button (click)="addToCart()">Add to Cart</button> -->
              </div>
            </div>
          </div>
    
    
    </div>
    <div class="div2"> 
        <div class="card-container">
            <div class="card">
                <img src = "https://m.media-amazon.com/images/I/513OnE3alnL._SL1000_.jpg" width="250" height="250">
              <div class="card-header">
                <h3> TP-Link 24 Ports Gigabit Desktop & Rackmount Switch </h3>
              </div>
              <div class="card-body">
                <h2 align = "left" style="color: black"> <b> ₹5,899  </b> </h2>
              </div>
              <div class="card-body">
                <p align = "left" style="color: grey"> <b> <s> ₹9,999 </s> &nbsp; 41% OFF &nbsp;</b> </p>
                <p align = "left" style="color: green"> <b>[Free delivery] </b> </p>
              </div>
            </div>
          </div>

    </div>
    <div class="div3">
        
        <div class="card-container">
            <div class="card">
                <img src = "https://cdn.moglix.com/p/HY9Q5rbpU0t9D-xxlarge.jpg" width="250" height="250">
              <div class="card-header">
                <h3> D-Link DWR-920V N300 Wireless Black 4G Lte Router </h3>
              </div>
              <div class="card-body">
                <h2 align = "left" style="color: black"> <b> ₹5,099  </b> </h2>
              </div>
              <div class="card-body">
                <p align = "left" style="color: grey"> <b> <s> ₹8,260 </s> &nbsp; 38% OFF &nbsp;</b> </p>
                <p align = "left" style="color: green"> <b>[Free delivery] </b> </p>
              </div>
            </div>
          </div>
    
    </div>
    <div class="div4">
        
        <div class="card-container">
            <div class="card">
                <img src = "https://files.refurbed.com/ii/apple-macbook-pro-2018-13-3-touc-1571374852.jpg?t=resize&h=630&w=1200" width="250" height="250">
              <div class="card-header">
                <h3> Apple Z11C0007L MacBook Pro 13 inch 512GB Space Gra </h3>
              </div>
              <div class="card-body">
                <h2 align = "left" style="color: black"> <b> ₹127,118  </b> </h2>
              </div>
              <div class="card-body">
                <p align = "left" style="color: grey"> <b> <s> 237,226 </s> &nbsp; 30% OFF &nbsp;</b> </p>
                <p align = "left" style="color: green"> <b>No Cost EMI from ₹2,334/month</b> </p>
              </div>
            </div>
          </div>
    
    </div>
    <div class="div5">
        
        <div class="card-container">
            <div class="card">
                <img src = "https://brightstarcomp.com/wp-content/uploads/2022/02/8ee14a2d86214f863f73bd38d1ef87f6.jpg" width="250" height="250">
              <div class="card-header">
                <h3> Dell KB216 Wired Multimedia USB Keyboard </h3>
              </div>
              <div class="card-body">
                <h2 align = "left" style="color: black"> <b> ₹599  </b> </h2>
              </div>
              <div class="card-body">
                <p align = "left" style="color: grey"> <b> <s>  ₹699 </s> &nbsp; 14% OFF &nbsp;</b> </p>
                <p align = "left" style="color: green"> <b>[Free delivery] </b> </p>
              </div>
            </div>
          </div>
    
    </div>
    <div class="div6">
        
        <div class="card-container">
            <div class="card">
                <img src = "https://cdn.moglix.com/p/EMGIe1RDRe1Wm.jpg" width="250" height="250">
              <div class="card-header">
                <h3> Mikrotik PoE Injector with Surge Protection, GESP+POE- </h3>
              </div>
              <div class="card-body">
                <h2 align = "left" style="color: black"> <b> ₹1,329  </b> </h2>
              </div>
              <div class="card-body">
                <p align = "left" style="color: grey"> <b> <s>  ₹2,999 </s> &nbsp; 55% OFF &nbsp;</b> </p>
                <p align = "left" style="color: green"> <b>[Free delivery] </b> </p>
              </div>
            </div>
          </div>
    
    </div>
    <div class="div7">
        
        <div class="card-container">
            <div class="card">
                <img src = "https://m.media-amazon.com/images/I/71UJwZ32VvL._SL1500_.jpg" width="250" height="250">
              <div class="card-header">
                <h3> WD My Book 4TB Black Hard Drive with Automatic Backup</h3>
              </div>
              <div class="card-body">
                <h2 align = "left" style="color: black"> <b> ₹8,299  </b> </h2>
              </div>
              <div class="card-body">
                <p align = "left" style="color: grey"> <b> <s> ₹17,000 </s> &nbsp; 51% OFF &nbsp;</b> </p>
                <p align = "left" style="color: green"> <b>[Free delivery] </b> </p>
              </div>
            </div>
          </div>
    
    </div>
    <div class="div8"> 
        <div class="card-container">
            <div class="card">
                <img src = "https://cdn.moglix.com/p/vGu2e5vf3sI8i-xxlarge.jpg" width="250" height="250">
              <div class="card-header">
                <h3> I Kall W4 1.72 inch Black Fitness Smart Watch </h3>
              </div>
              <div class="card-body">
                <h2 align = "left" style="color: black"> <b> ₹1,599  </b> </h2>
              </div>
              <div class="card-body">
                <p align = "left" style="color: grey"> <b> <s> ₹3,999 </s> &nbsp; 60% OFF &nbsp;</b> </p>
                <p align = "left" style="color: green"> <b>[Free delivery] </b> </p>
              </div>
            </div>
          </div>



    </div>
    </div>