
<nav>
    <!-- <input type="checkbox" id="nav-toggle" />
    <label for="nav-toggle">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </label>
    <div class="logo">
      <a href="#">My Website</a>
    </div>
    <ul class="nav-links">
      <li><a href="#">Home</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul> -->
  
   <a routerLink = "/after-login"> <img src = "https://image.pitchbook.com/IIZvz8HxGpxmd4nnI5Irsnm0JAx1666857561209_200x200" height = "150" width = "150"> </a>
  
  
  
    <div class="search">
        <input type="text" class="search__input" placeholder="Search for products, brands and more" [(ngModel)]="searchText">
        <button class="search__button" (click)="search()">
            <svg class="search__icon" aria-hidden="true" viewBox="0 0 24 24">
                <g>
                    <path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path>
                </g>
            </svg>
        </button>
    </div>
  
   
  
    <a href = ""> <b> Become a Seller</b></a>
  
  
    <div class = "more">

      <div class="dropdown">
          <button class="dropdown-btn">More  <i class="fa fa-chevron-down"></i></button>
          <div class="dropdown-content">
            <a href="#"> <span class="material-symbols-outlined">
              notifications
              </span> Notification Preferences</a>
            <a href="#"> <span class="material-symbols-outlined">
              live_help
              </span> 24x7 Coustomer Care</a>
            <a href="#"> <span class="material-symbols-outlined">
              trending_up
              </span> Advertise</a>
            <a href="#"> <span class="material-symbols-outlined">
              download
              </span> Download App</a>
          </div>
        </div>
        
  </div>
  
    <div class = "cart">
  
      <a href = "">  <b align = "left" style="color: white ">  Cart </b> <i style="font-size:24px; color:white" class="fa">&#xf07a;</i>  </a>
  
    </div>
  
    <a routerLink = "/profile">
        <img src="https://i.pinimg.com/736x/75/77/c5/7577c5d6e9c1251925030c8e3b470e15.jpg" alt="Avatar" class="avatar90">
         <!-- <p> <b> GS </b></p>  -->
        </a>
  
   
    
  </nav>

  <div class = "bg">



    <div class="grid-container">
        <div class="grid-item column1">


            <div class = "one">

                <div class="parent">
                    <div class="div12"> 
    
                        
                         <img src="https://www.shareicon.net/data/2016/05/24/770140_man_512x512.png" alt="Avatar" style="width:100px">

    
                    </div>
                    &nbsp;  &nbsp;  &nbsp;
                    <div class="div65"> 
                        <!-- <h2 align = "Center" style="color : black">Gatla </h2> -->
                        <pre align = "right"><b>Gatla Sai Teja</b></pre>

                    </div>
                    </div>

            </div>

            <br>

            <div class = "two">

<a>
 <h2 align = "left" style="color : gray"> 
    <span class="material-symbols-outlined">
        system_update_alt
        </span> &nbsp;  MY ORDERS &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; <b> > </b></h2>  
</a>
 <hr>

 <h2 align = "left" style="color : gray"><span class="material-symbols-outlined">
    person
    </span> &nbsp; ACCOUNT SETTINGS </h2>

 <a>   <p> <b> Personal Information </b></p>    </a>
 <a>   <p><b> Manage Addresses </b> </p>    </a>
 <a>   <p> <b>PAN Card Information </b></p>    </a>

 <hr>

 <h2 align = "left" style="color : gray"><span class="material-symbols-outlined">
    account_balance_wallet
    </span>  &nbsp; PAYMENTS </h2>

    <a>   <p> <b> Gift Cards </b></p>    </a>
 <a>   <p><b> Saved UPI </b> </p>    </a>
 <a>   <p> <b> Saved Cards </b></p>    </a>

 <hr>

 <h2 align = "left" style="color : gray"><span class="material-symbols-outlined">
    folder_open
    </span> &nbsp; MY STUFF </h2>

    <a>   <p> <b> My Coupons </b></p>    </a>
 <a>   <p><b> My Reviews & Ratings </b> </p>    </a>
 <a>   <p> <b> All Notification </b></p>    </a>
 <a>   <p> <b> My Wishlist </b></p>    </a>

 <hr>

<a routerLink = "/home"> <h2 align = "left" style="color : gray"><span class="material-symbols-outlined">
    logout
    </span> &nbsp; Logout </h2> </a>

  </div>

  <div class ="three">
<h3> <b> Frequently Visited: </b></h3>
<a> <p align = "left" style="color : gray"> Track Order </p> </a>
<a> <p align = "left" style="color : gray"> Help Center</p> </a>
  </div>

           



            </div>


        <div class="grid-item column2">
    
<div class ="right">

<h3><b> Personal Information </b></h3>

<div class="label-container">
 

  <label class="wrapper">
    <input type="text" placeholder="First Name" name="text" class="input" required>
    <span class="placeholder">First Name</span>
  </label>
  
&nbsp;  &nbsp;   &nbsp;  &nbsp;   &nbsp;  

<label class="wrapper">
  <input type="text" placeholder="Last Name" name="text" class="input" required>
  <span class="placeholder">Last Name</span>
</label>

</div>

<h3><b> Your Gender </b></h3>

<div class="mydict">
	<div>
		<label>
			<input type="radio" name="radio" checked="">
			<span>Male</span>
		</label>
		<label>
			<input type="radio" name="radio">
			<span>Female</span>
		</label>
		<label>
			<input type="radio" name="radio">
			<span>Others</span>
		</label>
		
	</div>
</div>

<br>

<h3><b> Email Address </b></h3>

<div class="label-container">

<label class="wrapper">
  <input type="text" placeholder="Email Address" name="text" class="input" required>
  <span class="placeholder">Email Address</span>
</label>
</div>

<h3><b> Mobile Number </b></h3>

<div class="label-container">

<label class="wrapper">
  <input type="text" placeholder="+91 9542063807" name="text" class="input">
  <span class="placeholder">Mobile Number</span>
</label>
</div>

<h2><b>FAQs</b></h2>

<pre>
  <b>
What happens when I update my email address (or mobile number)?
Your login email id (or mobile number) changes, likewise. 
You'll receive all your account related communication on your updated email address (or mobile number).

When will my Flipkart account be updated with the new email address (or mobile number)?
It happens as soon as you confirm the verification code sent to your email (or mobile) and save the changes.

What happens to my existing Flipkart account when I update my email address (or mobile number)?
Updating your email address (or mobile number) doesn't invalidate your account. 
Your account remains fully functional. You'll continue seeing your Order history, saved information 
and personal details.

Does my Seller account get affected when I update my email address?
Flipkart has a 'single sign-on' policy. Any changes will reflect in your Seller account also.

Deactivate Account </b>
</pre>

    <img src = "https://www.littlesindia.in/images/footer-bg.png" width="1030" height="128">
  
</div>


    
  </div>

  </div>

<!-- footer -->

  

        <div class = "footer">

          <div class="parent5">
            <div class="div0">  
           
              <h5 align = "left" style="color: grey"> ABOUT </h5>

              
              <a href = ""> <p align = "left" style="color: white"> <b> Contact Us </b></p></a>
              <a href = ""> <p align = "left" style="color: white"> <b> About Us </b></p></a>
              <a href = ""> <p align = "left" style="color: white"> <b> Careers </b></p></a>
              <a href = ""> <p align = "left" style="color: white"> <b> Flipkart Stories</b></p></a>
              <a href = ""> <p align = "left" style="color: white"> <b> Press </b></p></a>
              <a href = ""> <p align = "left" style="color: white"> <b> Flipkart Wholesale </b></p></a>
              <a href = ""> <p align = "left" style="color: white"> <b> Corporate Information </b></p></a>
            
            
            </div>
            <div class="div2">    

              <h5 align = "left" style="color: grey"> HELP </h5>

              
              <a href = ""> <p align = "left" style="color: white"> <b> Payments </b></p></a>
              <a href = ""> <p align = "left" style="color: white"> <b> Shipping </b></p></a>
              <a href = ""> <p align = "left" style="color: white"> <b> Cancellation & Returns</b></p></a>
              <a href = ""> <p align = "left" style="color: white"> <b> FAQ</b></p></a>
              <a href = ""> <p align = "left" style="color: white"> <b> Report Infringement</b></p></a>

            </div>
            <div class="div3">      

              <h5 align = "left" style="color: grey"> CONSUMER POLICY </h5>

              
              <a href = ""> <p align = "left" style="color: white"> <b> Return Policy </b></p></a>
              <a href = ""> <p align = "left" style="color: white"> <b> Terms of Use </b></p></a>
              <a href = ""> <p align = "left" style="color: white"> <b> Security </b></p></a>
              <a href = ""> <p align = "left" style="color: white"> <b> Privacy </b></p></a>
              <a href = ""> <p align = "left" style="color: white"> <b> Sitemap </b></p></a>
              <a href = ""> <p align = "left" style="color: white"> <b> Grievance Redressal </b></p></a>
              <a href = ""> <p align = "left" style="color: white"> <b> EPR Compliance </b></p></a>

            </div>
            <div class="div4">    
              
              <h5 align = "left" style="color: grey"> SOCIAL </h5>

              
              <a href = ""> <p align = "left" style="color: white"> <b> Facebook </b></p></a>
              <a href = ""> <p align = "left" style="color: white"> <b> Twitter </b></p></a>
              <a href = ""> <p align = "left" style="color: white"> <b> YouTube </b></p></a>
           
            
            </div>
            <div class="div12"> 

              <h3 align = "right" style="color: grey"> Registered Office Address: </h3>

            
              <pre align = "left" style="color: white"> <b>
                Flipkart Internet Private Limited,

                Buildings Alyssa, Begonia &

                Clove Embassy Tech Village,

                Outer Ring Road,
                
                Devarabeesanahalli Village,

                Bengaluru, 560103,

                Karnataka, India,

                CIN : U51109KA2012PTC066107

                Telephone: 044-45614700
              </b> </pre>   
            
            </div>
            <!-- <div class="div6">
              
            </div> -->
            </div>
            <hr>

            <div class="parent">
              <div class="div1"> 

        <a href = "">  <h3 align = "left" style="color: white"> <b> Become a Seller </b> </h3> </a> 

              </div>
              <div class="div2"> 

   <a href = "">   <h3 align = "left" style="color: white"> <b> Advertise </b> </h3> </a>
              </div>
              <div class="div3"> 

                <a href = "">  <h3 align = "left" style="color: white"> <b>  Gift Cards </b> </h3> </a>
              </div>
              <div class="div4">
              
                <a href = "">  <h3 align = "left" style="color: white"> <b> Help Center </b> </h3> </a>
              </div>
              <div class="div5">
                <h3 align = "left" style="color: white"> <b> © 2007-2023 Flipkart.com </b></h3>
                 </div>
              <div class="div6">

                <img src = "https://happyplanetstudio.co.uk/wp-content/uploads/2020/05/Sumup-Accepted-Cards-Update.png" height="50" width="500">
              </div>
              </div>
        
            
        </div>


    
      
    </div>
