<nav>
    <!-- <input type="checkbox" id="nav-toggle" />
    <label for="nav-toggle">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </label>
    <div class="logo">
      <a href="#">My Website</a>
    </div>
    <ul class="nav-links">
      <li><a href="#">Home</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul> -->
  
   <a routerLink = "/after-login"> <img src = "https://image.pitchbook.com/IIZvz8HxGpxmd4nnI5Irsnm0JAx1666857561209_200x200" height = "150" width = "150"> </a>
  
  
  
    <div class="search">
        <input type="text" class="search__input" placeholder="Search for products, brands and more" [(ngModel)]="searchText">
        <button class="search__button" (click)="search()">
            <svg class="search__icon" aria-hidden="true" viewBox="0 0 24 24">
                <g>
                    <path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path>
                </g>
            </svg>
        </button>
    </div>
  
   
  
    <a href = ""> <b> Become a Seller</b></a>
  
  
    <div class = "more">

      <div class="dropdown">
          <button class="dropdown-btn">More  <i class="fa fa-chevron-down"></i></button>
          <div class="dropdown-content">
            <a href="#"> <span class="material-symbols-outlined">
              notifications
              </span> Notification Preferences</a>
            <a href="#"> <span class="material-symbols-outlined">
              live_help
              </span> 24x7 Coustomer Care</a>
            <a href="#"> <span class="material-symbols-outlined">
              trending_up
              </span> Advertise</a>
            <a href="#"> <span class="material-symbols-outlined">
              download
              </span> Download App</a>
          </div>
        </div>
        
  </div>
  
    <div class = "cart">
  
      <a href = "">  <b align = "left" style="color: white ">  Cart </b> <i style="font-size:24px; color:white" class="fa">&#xf07a;</i>  </a>
  
    </div>
  
    <a routerLink = "/profile">
        <img src="https://i.pinimg.com/736x/75/77/c5/7577c5d6e9c1251925030c8e3b470e15.jpg" alt="Avatar" class="avatar90">
         <!-- <p> <b> GS </b></p>  -->
        </a>
  
   
    
  </nav>
  
    <br>  <br>  <br>  <br>  <br>  
  
    <h2> <b> Showing 1 – 8 of 8 results for "puma"  </b> </h2>
    <br> 
  
    <div class="parent">
      <div class="div1">
          
          <div class="card-container">
              <div class="card">
                  <img src = "https://rukminim1.flixcart.com/image/400/400/xif0q/shoe/l/p/v/-original-imagg3m8dx5b5khf.jpeg?q=70" width="250" height="250">
                <div class="card-header">
                  <h3>  PUMA Kosmo Rider Sneakers For Women </h3>
                </div>
                <div class="card-body">
                  <h2 align = "left" style="color: black"> <b> ₹759 </b> </h2>
                </div>
                <div class="card-body">
                  <p align = "left" style="color: grey"> <b> <s> ₹1,299 </s> &nbsp; 41% OFF &nbsp;</b> </p>
                  <p align = "left" style="color: green"> <b>[Free delivery] </b> </p>
                </div>
                <div class="card-body">
                  <!-- <button (click)="addToCart()">Add to Cart</button> -->
                </div>
              </div>
            </div>
      
      
      </div>
      <div class="div2"> 
          <div class="card-container">
              <div class="card">
                  <img src = "https://m.media-amazon.com/images/I/61B+nBjuWsL._SL1100_.jpg" width="250" height="250">
                <div class="card-header">
                  <h3> PUMA TeamFinal Wave Ball Football  </h3>
                </div>
                <div class="card-body">
                  <h2 align = "left" style="color: black"> <b> ₹165  </b> </h2>
                </div>
                <div class="card-body">
                  <p align = "left" style="color: grey"> <b> <s> ₹199 </s> &nbsp; 17% OFF &nbsp;</b> </p>
                  <p align = "left" style="color: green"> <b>[Free delivery] </b> </p>
                </div>
              </div>
            </div>
  
      </div>
      <div class="div3">
          
          <div class="card-container">
              <div class="card">
                  <img src = "https://img.tatacliq.com/images/i9/437Wx649H/MP000000016331599_437Wx649H_202302020334001.jpeg" width="250" height="250">
                <div class="card-header">
                  <h3> Medium 30 L Backpack </h3>
                </div>
                <div class="card-body">
                  <h2 align = "left" style="color: black"> <b> ₹749  </b> </h2>
                </div>
                <div class="card-body">
                  <p align = "left" style="color: grey"> <b> <s> ₹2,099 </s> &nbsp; 64% OFF &nbsp;</b> </p>
                  <p align = "left" style="color: green"> <b>[Free delivery] </b> </p>
                </div>
              </div>
            </div>
      
      </div>
      <div class="div4">
          
          <div class="card-container">
              <div class="card">
                  <img src = "https://n1.sdlcdn.com/imgs/a/x/v/Puma-Grey-Flip-flops-SDL975098674-1-d21a2.jpg" width="250" height="250">
                <div class="card-header">
                  <h3> PUMA Luke V1 Flip Flops </h3>
                </div>
                <div class="card-body">
                  <h2 align = "left" style="color: black"> <b> ₹942  </b> </h2>
                </div>
                <div class="card-body">
                  <p align = "left" style="color: grey"> <b> <s> ₹1,699 </s> &nbsp; 44% OFF &nbsp;</b> </p>
                  <p align = "left" style="color: green"> <b>[Free delivery]</b> </p>
                </div>
              </div>
            </div>
      
      </div>
      <div class="div5">
          
          <div class="card-container">
              <div class="card">
                  <img src = "https://images-static.nykaa.com/media/catalog/product/a/3/a39a037Puma38802601_2.jpg?tr=w-500,pr-true" width="250" height="250">
                <div class="card-header">
                  <h3> Men Sail V2  Sports Sandal </h3>
                </div>
                <div class="card-body">
                  <h2 align = "left" style="color: black"> <b> ₹1,270  </b> </h2>
                </div>
                <div class="card-body">
                  <p align = "left" style="color: grey"> <b> <s>  ₹2,999 </s> &nbsp; 57% OFF &nbsp;</b> </p>
                  <p align = "left" style="color: green"> <b>[Free delivery] </b> </p>
                </div>
              </div>
            </div>
      
      </div>
      <div class="div6">
          
          <div class="card-container">
              <div class="card">
                  <img src = "https://www.tradeinn.com/f/13852/138522749/puma-leadcat-2.0-njr-slides.jpg" width="250" height="250">
                <div class="card-header">
                  <h3> PUMA Leadcat 2.0 NJR Slides  </h3>
                </div>
                <div class="card-body">
                  <h2 align = "left" style="color: black"> <b> ₹1,118  </b> </h2>
                </div>
                <div class="card-body">
                  <p align = "left" style="color: grey"> <b> <s>  ₹2,499 </s> &nbsp; 55% OFF &nbsp;</b> </p>
                  <p align = "left" style="color: green"> <b>[Free delivery] </b> </p>
                </div>
              </div>
            </div>
      
      </div>
      <div class="div7">
          
          <div class="card-container">
              <div class="card">
                  <img src = "https://rukminim1.flixcart.com/image/416/416/xif0q/bat/7/9/8/-original-imagjvp5rgnvycfa.jpeg?q=70" width="250" height="250">
                <div class="card-header">
                  <h3> PUMA Future KW Willow Cricket Bat </h3>
                </div>
                <div class="card-body">
                  <h2 align = "left" style="color: black"> <b> ₹1,269  </b> </h2>
                </div>
                <div class="card-body">
                  <p align = "left" style="color: grey"> <b> <s> ₹2,099 </s> &nbsp; 39% OFF &nbsp;</b> </p>
                  <p align = "left" style="color: green"> <b>[Free delivery] </b> </p>
                </div>
              </div>
            </div>
      
      </div>
      <div class="div8"> 
          <div class="card-container">
              <div class="card">
                  <img src = "https://img.tatacliq.com/images/i7/437Wx649H/MP000000009095191_437Wx649H_202103162149561.jpeg" width="250" height="250">
                <div class="card-header">
                  <h3> PUMA Solid Sports/Regular Cap </h3>
                </div>
                <div class="card-body">
                  <h2 align = "left" style="color: black"> <b> ₹399  </b> </h2>
                </div>
                <div class="card-body">
                  <p align = "left" style="color: grey"> <b> <s> ₹899 </s> &nbsp; 55% OFF &nbsp;</b> </p>
                  <p align = "left" style="color: green"> <b>[Free delivery] </b> </p>
                </div>
              </div>
            </div>
  
  
  
      </div>
      </div>