<nav>
    <!-- <input type="checkbox" id="nav-toggle" />
    <label for="nav-toggle">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </label>
    <div class="logo">
      <a href="#">My Website</a>
    </div>
    <ul class="nav-links">
      <li><a href="#">Home</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul> -->
  
   <a routerLink = "/after-login"> <img src = "https://image.pitchbook.com/IIZvz8HxGpxmd4nnI5Irsnm0JAx1666857561209_200x200" height = "150" width = "150"> </a>
  
  
  
    <div class="search">
        <input type="text" class="search__input" placeholder="Search for products, brands and more" [(ngModel)]="searchText">
        <button class="search__button" (click)="search()">
            <svg class="search__icon" aria-hidden="true" viewBox="0 0 24 24">
                <g>
                    <path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path>
                </g>
            </svg>
        </button>
    </div>
  
   
  
    <a href = ""> <b> Become a Seller</b></a>
  
  
    <div class = "more">

      <div class="dropdown">
          <button class="dropdown-btn">More  <i class="fa fa-chevron-down"></i></button>
          <div class="dropdown-content">
            <a href="#"> <span class="material-symbols-outlined">
              notifications
              </span> Notification Preferences</a>
            <a href="#"> <span class="material-symbols-outlined">
              live_help
              </span> 24x7 Coustomer Care</a>
            <a href="#"> <span class="material-symbols-outlined">
              trending_up
              </span> Advertise</a>
            <a href="#"> <span class="material-symbols-outlined">
              download
              </span> Download App</a>
          </div>
        </div>
        
  </div>
  
    <div class = "cart">
  
      <a href = "">  <b align = "left" style="color: white ">  Cart </b> <i style="font-size:24px; color:white" class="fa">&#xf07a;</i>  </a>
  
    </div>
  
    <a routerLink = "/profile">
        <img src="https://i.pinimg.com/736x/75/77/c5/7577c5d6e9c1251925030c8e3b470e15.jpg" alt="Avatar" class="avatar90">
         <!-- <p> <b> GS </b></p>  -->
        </a>
  
   
    
  </nav>
  
    <br>  <br>  <br>  <br>  <br>  
  
    <h2> <b> Showing 1 – 8 of 8 results for "grocery"  </b> </h2>
    <br> 
  
    <div class="parent">
      <div class="div1">
          
          <div class="card-container">
              <div class="card">
                  <img src = "https://rukminim1.flixcart.com/image/416/416/xif0q/pulses/l/9/w/-original-imagpgzkbhhawfhc.jpeg?q=70" width="250" height="250">
                <div class="card-header">
                  <h3> Tata Sampann Yellow Chana Dal (1 kg) </h3>
                </div>
                <div class="card-body">
                  <h2 align = "left" style="color: black"> <b> ₹100  </b> </h2>
                </div>
                <div class="card-body">
                  <p align = "left" style="color: grey"> <b> <s> ₹125 </s> &nbsp; 20% OFF &nbsp;</b> </p>
                  <p align = "left" style="color: green"> <b>[Free delivery] </b> </p>
                </div>
                <div class="card-body">
                  <!-- <button (click)="addToCart()">Add to Cart</button> -->
                </div>
              </div>
            </div>
      
      
      </div>
      <div class="div2"> 
          <div class="card-container">
              <div class="card">
                  <img src = "https://m.media-amazon.com/images/I/71VO9O6uDRL._SL1500_.jpg" width="250" height="250">
                <div class="card-header">
                  <h3> Quaker Oats Pouch  (1 kg) </h3>
                </div>
                <div class="card-body">
                  <h2 align = "left" style="color: black"> <b> ₹165  </b> </h2>
                </div>
                <div class="card-body">
                  <p align = "left" style="color: grey"> <b> <s> ₹199 </s> &nbsp; 17% OFF &nbsp;</b> </p>
                  <p align = "left" style="color: green"> <b>[Free delivery] </b> </p>
                </div>
              </div>
            </div>
  
      </div>
      <div class="div3">
          
          <div class="card-container">
              <div class="card">
                  <img src = "https://m.media-amazon.com/images/I/61BFpjELWPL._SL1000_.jpg" width="250" height="250">
                <div class="card-header">
                  <h3> Liril Lemon and Tea Tree Oil Soap </h3>
                </div>
                <div class="card-body">
                  <h2 align = "left" style="color: black"> <b> ₹222  </b> </h2>
                </div>
                <div class="card-body">
                  <p align = "left" style="color: grey"> <b> <s> ₹445 </s> &nbsp; 50% OFF &nbsp;</b> </p>
                  <p align = "left" style="color: green"> <b>[Free delivery] </b> </p>
                </div>
              </div>
            </div>
      
      </div>
      <div class="div4">
          
          <div class="card-container">
              <div class="card">
                  <img src = "https://m.media-amazon.com/images/I/71rmizydRFL._SL1500_.jpg" width="250" height="250">
                <div class="card-header">
                  <h3> Henko Matic - Front Load Liquid Detergent(2 L) </h3>
                </div>
                <div class="card-body">
                  <h2 align = "left" style="color: black"> <b> ₹355  </b> </h2>
                </div>
                <div class="card-body">
                  <p align = "left" style="color: grey"> <b> <s> ₹480 </s> &nbsp; 26% OFF &nbsp;</b> </p>
                  <p align = "left" style="color: green"> <b>[Free delivery]</b> </p>
                </div>
              </div>
            </div>
      
      </div>
      <div class="div5">
          
          <div class="card-container">
              <div class="card">
                  <img src = "https://www.jiomart.com/images/product/600x600/490001392/amul-butter-500-gm-cbd-0-20200526.jpg" width="250" height="250">
                <div class="card-header">
                  <h3> Amul Pasteurised Salted Butter (500 g) </h3>
                </div>
                <div class="card-body">
                  <h2 align = "left" style="color: black"> <b> ₹261  </b> </h2>
                </div>
                <div class="card-body">
                  <p align = "left" style="color: grey"> <b> <s>  ₹275 </s> &nbsp; 5% OFF &nbsp;</b> </p>
                  <p align = "left" style="color: green"> <b>[Free delivery] </b> </p>
                </div>
              </div>
            </div>
      
      </div>
      <div class="div6">
          
          <div class="card-container">
              <div class="card">
                  <img src = "https://m.media-amazon.com/images/I/41CWxaImaXS._SX355_.jpg" width="250" height="250">
                <div class="card-header">
                  <h3> POLYSET Storage Basket (Pack of 3) </h3>
                </div>
                <div class="card-body">
                  <h2 align = "left" style="color: black"> <b> ₹89  </b> </h2>
                </div>
                <div class="card-body">
                  <p align = "left" style="color: grey"> <b> <s>  ₹259 </s> &nbsp; 65% OFF &nbsp;</b> </p>
                  <p align = "left" style="color: green"> <b>[Free delivery] </b> </p>
                </div>
              </div>
            </div>
      
      </div>
      <div class="div7">
          
          <div class="card-container">
              <div class="card">
                  <img src = "https://cdn.shopify.com/s/files/1/0258/4307/3103/products/cabbage_600x.jpg?v=1608188006" width="250" height="250">
                <div class="card-header">
                  <h3> Cabbage 1 Units (500 to 700 gm) </h3>
                </div>
                <div class="card-body">
                  <h2 align = "left" style="color: black"> <b> ₹18  </b> </h2>
                </div>
                <div class="card-body">
                  <p align = "left" style="color: grey"> <b> <s> ₹20 </s> &nbsp; 10% OFF &nbsp;</b> </p>
                  <p align = "left" style="color: green"> <b>[Free delivery] </b> </p>
                </div>
              </div>
            </div>
      
      </div>
      <div class="div8"> 
          <div class="card-container">
              <div class="card">
                  <img src = "https://www.bigbasket.com/media/uploads/p/xxl/40141483_2-desi-hakka-noodles-veg.jpg" width="250" height="250">
                <div class="card-header">
                  <h3> Anytime Hakka Noodles Vegetarian (450 g) </h3>
                </div>
                <div class="card-body">
                  <h2 align = "left" style="color: black"> <b> ₹66  </b> </h2>
                </div>
                <div class="card-body">
                  <p align = "left" style="color: grey"> <b> <s> ₹145 </s> &nbsp; 54% OFF &nbsp;</b> </p>
                  <p align = "left" style="color: green"> <b>[Free delivery] </b> </p>
                </div>
              </div>
            </div>
  
  
  
      </div>
      </div>