<nav>
    <!-- <input type="checkbox" id="nav-toggle" />
    <label for="nav-toggle">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </label>
    <div class="logo">
      <a href="#">My Website</a>
    </div>
    <ul class="nav-links">
      <li><a href="#">Home</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul> -->
  
   <a routerLink = "/after-login"> <img src = "https://image.pitchbook.com/IIZvz8HxGpxmd4nnI5Irsnm0JAx1666857561209_200x200" height = "150" width = "150"> </a>
  
  
  
    <div class="search">
        <input type="text" class="search__input" placeholder="Search for products, brands and more" [(ngModel)]="searchText">
        <button class="search__button" (click)="search()">
            <svg class="search__icon" aria-hidden="true" viewBox="0 0 24 24">
                <g>
                    <path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path>
                </g>
            </svg>
        </button>
    </div>
  
   
  
    <a href = ""> <b> Become a Seller</b></a>
  
  
    <div class = "more">

      <div class="dropdown">
          <button class="dropdown-btn">More  <i class="fa fa-chevron-down"></i></button>
          <div class="dropdown-content">
            <a href="#"> <span class="material-symbols-outlined">
              notifications
              </span> Notification Preferences</a>
            <a href="#"> <span class="material-symbols-outlined">
              live_help
              </span> 24x7 Coustomer Care</a>
            <a href="#"> <span class="material-symbols-outlined">
              trending_up
              </span> Advertise</a>
            <a href="#"> <span class="material-symbols-outlined">
              download
              </span> Download App</a>
          </div>
        </div>
        
  </div>
  
    <div class = "cart">
  
      <a href = "">  <b align = "left" style="color: white ">  Cart </b> <i style="font-size:24px; color:white" class="fa">&#xf07a;</i>  </a>
  
    </div>
  
    <a routerLink = "/profile">
        <img src="https://i.pinimg.com/736x/75/77/c5/7577c5d6e9c1251925030c8e3b470e15.jpg" alt="Avatar" class="avatar90">
         <!-- <p> <b> GS </b></p>  -->
        </a>
  
   
    
  </nav>
  
    <br>  <br>  <br>  <br>  <br>  
  
    <h2> <b> Showing 1 – 8 of 8 results for "LG"  </b> </h2>
    <br> 
  
    <div class="parent">
      <div class="div1">
          
          <div class="card-container">
              <div class="card">
                  <img src = "https://www.lg.com/in/images/tvs/md07511882/gallery/32LM565BPTA-DZ-01-v1.jpg" width="250" height="250">
                <div class="card-header">
                  <h3>  LG 80 cm (32 inch) HD Ready LED Smart WebOS TV </h3>
                </div>
                <div class="card-body">
                  <h2 align = "left" style="color: black"> <b> ₹13,999 </b> </h2>
                </div>
                <div class="card-body">
                  <p align = "left" style="color: grey"> <b> <s> ₹21,990 </s> &nbsp; 36% OFF &nbsp;</b> </p>
                  <p align = "left" style="color: green"> <b>[Free delivery] </b> </p>
                </div>
                <div class="card-body">
                  <!-- <button (click)="addToCart()">Add to Cart</button> -->
                </div>
              </div>
            </div>
      
      
      </div>
      <div class="div2"> 
          <div class="card-container">
              <div class="card">
                  <img src = "https://www.lg.com/in/images/washing-machines/md07558761/gallery/P8535SKMZ-Top_Load_Washer-D-01.jpg" width="250" height="250">
                <div class="card-header">
                  <h3> LG 8.5 kg Semi Automatic Top Load Washing Machine Black </h3>
                </div>
                <div class="card-body">
                  <h2 align = "left" style="color: black"> <b> ₹15,490  </b> </h2>
                </div>
                <div class="card-body">
                  <p align = "left" style="color: grey"> <b> <s> ₹20,990 </s> &nbsp; 26% OFF &nbsp;</b> </p>
                  <p align = "left" style="color: green"> <b>No cost EMI ₹2,582/month </b> </p>
                </div>
              </div>
            </div>
  
      </div>
      <div class="div3">
          
          <div class="card-container">
              <div class="card">
                  <img src = "https://5.imimg.com/data5/OY/LV/ST/SELLER-40116230/20-ltr-lg-mh2044db-grill-microwave-500x500.jpg" width="250" height="250">
                <div class="card-header">
                  <h3> LG 20 L Grill Microwave Oven (MH2044DB, Black) </h3>
                </div>
                <div class="card-body">
                  <h2 align = "left" style="color: black"> <b> ₹7,299  </b> </h2>
                </div>
                <div class="card-body">
                  <p align = "left" style="color: grey"> <b> <s> ₹10,199 </s> &nbsp; 28% OFF &nbsp;</b> </p>
                  <p align = "left" style="color: green"> <b>[Free delivery] </b> </p>
                </div>
              </div>
            </div>
      
      </div>
      <div class="div4">
          
          <div class="card-container">
              <div class="card">
                  <img src = "https://cdn.shopify.com/s/files/1/0476/8651/6887/products/21kHl5e_SeL_1200x1200.jpg?v=1651998486" width="250" height="250">
                <div class="card-header">
                  <h3> LG 185 L Direct Cool Single Door 5 Star Refrigerator  </h3>
                </div>
                <div class="card-body">
                  <h2 align = "left" style="color: black"> <b> ₹17,290  </b> </h2>
                </div>
                <div class="card-body">
                  <p align = "left" style="color: grey"> <b> <s> ₹21,999 </s> &nbsp; 21% OFF &nbsp;</b> </p>
                  <p align = "left" style="color: green"> <b>No cost EMI ₹1,441/month</b> </p>
                </div>
              </div>
            </div>
      
      </div>
      <div class="div5">
          
          <div class="card-container">
              <div class="card">
                  <img src = "https://www.lg.com/in/images/home-entertainment/md06004917/gallery/medium06.jpg" width="250" height="250">
                <div class="card-header">
                  <h3> LG LK72B, Deep Bass, Bluetooth Home Theatre</h3>
                </div>
                <div class="card-body">
                  <h2 align = "left" style="color: black"> <b> ₹4,485  </b> </h2>
                </div>
                <div class="card-body">
                  <p align = "left" style="color: grey"> <b> <s>  ₹4,990 </s> &nbsp; 10% OFF &nbsp;</b> </p>
                  <p align = "left" style="color: green"> <b>[Free delivery] </b> </p>
                </div>
              </div>
            </div>
      
      </div>
      <div class="div6">
          
          <div class="card-container">
              <div class="card">
                  <img src = "https://www.zeepee.in/wp-content/uploads/2020/07/lg-ac-remote2-1.jpg" width="250" height="250">
                <div class="card-header">
                  <h3> LG AC S01 lg Remote Controller (White)  </h3>
                </div>
                <div class="card-body">
                  <h2 align = "left" style="color: black"> <b> ₹397 </b> </h2>
                </div>
                <div class="card-body">
                  <p align = "left" style="color: grey"> <b> <s>  ₹799 </s> &nbsp; 50% OFF &nbsp;</b> </p>
                  <p align = "left" style="color: green"> <b>[Free delivery] </b> </p>
                </div>
              </div>
            </div>
      
      </div>
      <div class="div7">
          
          <div class="card-container">
              <div class="card">
                  <img src = "https://n3.sdlcdn.com/imgs/i/b/l/LG-Washing-Machine-Dust-Collector-SDL290377504-1-9059b.jpeg" width="250" height="250">
                <div class="card-header">
                  <h3> LG Lint Dust Collect Filter Top load Washing Machine Net </h3>
                </div>
                <div class="card-body">
                  <h2 align = "left" style="color: black"> <b> ₹236  </b> </h2>
                </div>
                <div class="card-body">
                  <p align = "left" style="color: grey"> <b> <s> ₹450 </s> &nbsp; 47% OFF &nbsp;</b> </p>
                  <p align = "left" style="color: green"> <b>[Free delivery] </b> </p>
                </div>
              </div>
            </div>
      
      </div>
      <div class="div8"> 
          <div class="card-container">
              <div class="card">
                  <img src = "https://www.lg.com/in/images/split-ac/md07565608/gallery/RS-Q19YNZE-split-ac-fornt-view-D-01.jpg" width="250" height="250">
                <div class="card-header">
                  <h3> LG AI Convertible 6-in-1 Cooling 2023 Model 1.5 Ton 5 Star  </h3>
                </div>
                <div class="card-body">
                  <h2 align = "left" style="color: black"> <b> ₹50,990  </b> </h2>
                </div>
                <div class="card-body">
                  <p align = "left" style="color: grey"> <b> <s> ₹83,990 </s> &nbsp; 39% OFF &nbsp;</b> </p>
                  <p align = "left" style="color: green"> <b> No cost EMI starting from ₹5,666/month </b> </p>
                </div>
              </div>
            </div>
  
  
  
      </div>
      </div>